<ion-content>
  <div class="flex align-items-center flex-column">
    <img src="assets/icon/celina.png" alt="" class="w-20rem h-20rem" />
    <ui-type-writer [text]="welcomeMessage"></ui-type-writer>
  </div>
</ion-content>
<ion-footer class="item-input-inset"> </ion-footer>
<ion-footer>
  <ion-toolbar>
    <form [formGroup]="formGroup"></form>
    <ion-item lines="none">
      <ui-input-text
        class="w-full"
        [formGroup]="formGroup"
        name="textChat"
        placeholder="Ingrese una pregunta..."
      ></ui-input-text>
      <ui-button
        icon="send-outline"
        slot="end"
        fill="clear"
        color="dark"
        (click)="send()"
      ></ui-button>
    </ion-item>
  </ion-toolbar>
</ion-footer>
