<div class="half light">
  <div class="typing">
    <span class="circle scaling"></span>
    <span class="circle scaling"></span>
    <span class="circle scaling"></span>
  </div>
  <div class="typing">
    <span class="circle bouncing"></span>
    <span class="circle bouncing"></span>
    <span class="circle bouncing"></span>
  </div>
  <br />
  <div class="typing">
    <span class="circle scaling"></span>
    <span class="circle bouncing"></span>
    <span class="circle scaling"></span>
  </div>
</div>
<div class="half dark">
  <div class="typing">
    <span class="circle scaling"></span>
    <span class="circle scaling"></span>
    <span class="circle scaling"></span>
  </div>
  <div class="typing">
    <span class="circle bouncing"></span>
    <span class="circle bouncing"></span>
    <span class="circle bouncing"></span>
  </div>
  <br />
  <div class="typing">
    <span class="circle scaling"></span>
    <span class="circle bouncing"></span>
    <span class="circle scaling"></span>
  </div>
</div>
