<div
  class="flex flex-column align-items-center  justify-content-center"
>
  <img src="/assets/imgs/glutenfree1.jpg" alt="" class="img_background" />
  <img
    src="/assets/imgs/gluten_fre_logo.png"
    alt=""
    class="logo floating"
  />
</div>

<div class="b-0 flex justify-content-center ">
  <ion-button ill="solid" size="default" class="w-full m-4" color="light" (click)="authUser()">
    <ion-icon slot="start" name="logo-google"></ion-icon>
    <span class="text-bold">Ingresar con Google</span>
  </ion-button>
</div>
